<ng-button-secondary *axLazyElement="url" label="test 2"></ng-button-secondary>
<ng-card *axLazyElement="url" title="Hola Mundo" image="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" content="La industria web vive un momento de esplendor y le crecen los frameworks como hierbas primaverales." (updateLikes)="showLikes($event.detail)"></ng-card>
